* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

:root {
    --colorBackground: ##F2F2F2;

    --colorHead: rgb(0, 0, 0);
    --colorMenu: rgb(0, 0, 0);
    --colorBanner: #222127;
    --colorContainer: black;

    --colortxtTitle: rgb(255, 255, 254);
    --colortxtCode: rgb(173, 173, 164);

    --maxWidth: 1080px;
}


a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

a:hover {
    background-color: rgba(0, 0, 0, .05);
    cursor: pointer;
}

h2 {
    font-size: 60px;
    margin-bottom: 20px;
    color: var(--colortxtTitle);
    letter-spacing: 2px;
}

h3 {
    color: var(--colortxtTitle);
    font-family: monospace;
}

#description {
    color: var(--colortxtTitle);
    font-size: 15px;
    font-family: monospace;
    margin-top: 10px;
}

p {
    color: var(--colortxtCode);
    font-family: monospace;
    font-size: 18px;
    margin-top: 10px;
}


.blink::after  {
    content: '|';
    margin-left: 5px;
    opacity: 1;
    animation: blink .7s infinite ;
}


@keyframes blink {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

/* font-family: 'Carrois Gothic SC', sans-serif;
font-family: 'Didact Gothic', sans-serif;
font-family: 'Pathway Gothic One', sans-serif; */

body {
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 14px;
    background: var(--colorBackground);
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

html, body {
    height: 100%;
    width: 100%;
}

.Head {
    width: 100%;
    background: var(--colorHead);
    height: 50px;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 5px 20px #000;
    z-index: 1000;
}

.header {
    height: 40px;
    width: 100%;
    max-width: var(--maxWidth);
    margin: 2px;
    display: flex;
    align-items: center;
}

.logoArea {
    width: 50%;
    color: var(--colortxtTitle);
    display: flex;
    flex-direction: row;
    align-items: center;

}

.logo{
    border-radius: 50px;
    width: 35px;
    height: 35px;
}

.name {
    width: 40%;
    color: var(--colortxtTitle);
    font-family: monospace;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#nav {
    width: 50%;
    display: flex;
    color: var(--colortxtTitle);
    list-style: none;
    justify-content: flex-end;
}

#menu {
    display: flex;
    list-style: none;
    gap: .8rem;
    width: 100%;
    height: 40px;
    justify-content: space-between;
    align-items: center;
}

#menu a {
    display: block;
    padding: .5rem;
    font-size: 1.5rem;
    color: var(--colortxtTitle);
}


#btn-mobile {
    display: none;
    color: var(--colortxtTitle);
}

@media (max-width: 942px) {
    
    #menu {
        display: block;
        position: absolute;
        width: 100%;
        top: 50px;
        right: 0px;
        background: #e7e7e7;
        
        transition: .6s;
        height: 0px;
        z-index: 1000;
        visibility: hidden;
        overflow-y: hidden;
    }
    #nav.active #menu {
        height: calc(100vh - 50px);
        visibility: visible;
        overflow-y: auto;
    }
    #menu a {
        padding: 1rem 0;
        margin: 0 2rem;
        border-bottom: 2px solid rgba(0, 0, 0, .05);
        font-size: 1.5rem;
        color: black;
    }
    #btn-mobile {
        display: flex;
        padding: .5rem 0.5rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: .5rem; 

    }
    #btn-hamburger {
        color: white;
        border-top: 2px solid;
        width: 20px;
    }
    #btn-hamburger::after, #btn-hamburger::before {
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background: currentColor;
        margin-top: 5px;
        transition: .3s;
        position: relative;
    }
    #nav.active #btn-hamburger {
        border-top-color: transparent;

    }
    #nav.active #btn-hamburger::before {
        transform: rotate(135deg);
    }
    #nav.active #btn-hamburger::after {
        transform: rotate(-135deg);
        top: -7px;
    }
}

#space {
    height: 50px;
    background: blue;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
}

.Container { 
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-b1 {
    width: 100%;
    height: 100%;
    display: flex;
    background-color: var(--colorBanner);
    justify-content: center;
    align-items: center;
}


.container-title {
    width: 100%;
    height: 100%;
    display: flex;
    
    background-color: var(--colorMenu);
    justify-content: center;
    align-items: center;
}

#services {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

#services > div {
    width: 30%;
    height: 200px;
    border: .1rem dashed white;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--colortxtTitle);
    background: linear-gradient(0deg, #1b1b1b, #222, #1b1b1b);
    box-shadow: 0px 0px 3px 3px rgb(87, 2, 2);
}
  
#items {
    display: flex;
    
    /* overflow-x: scroll; */
    /* scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth; */
}

.item {
    display: flex;
    width: 100%;
    /* height: 500px; */

    /* flex-shrink: 0;
    scroll-snap-align: start;

    pointer-events: none; */

    justify-content: center;
    align-items: center;
}

img {
    width: 100%;
    height: 100%;

    object-fit: cover;
}

.container-b2{
    width: 100%;
    height: 100%; 
    display: flex;
    flex-direction: column;
    margin: 0 1rem;
    justify-content: center;
    align-items: center;
    background-color: var(--colorContainer);
}

.skils {
    width: 100%;
    height: 300;
    display: flex;
    max-width: var(--maxWidth);
    flex-wrap: wrap;
    padding: 15px;
}

#container-skils {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

#pipe {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .7rem;
    /* background-color: white; */
}

.linha {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

#linha1 {
    width: 49.8%;

    border:none;
    border-bottom:1.9px dotted rgb(56, 18, 18);
    height:1px;
    /* background-color: brown; */
}

#linha2 {
    width: 49.8%;

    border:none;
    height:1px;
    /* background-color: brown; */
}

#pipe1 {
    width: 5px;
    height: 5px;
    /* background-color: brown; */
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}

#pipe2 {
    width: 5px;
    height: 5px;
    /* background-color: brown; */
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}

#pipe3 {
    width: 5px;
    height: 5px;
    /* background-color: brown; */
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}

#pipe1 {
    animation-name: blink02;
    animation-duration: 7s;
    transition-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    /* transition-delay: 1s; */
}

#pipe2 {
    animation-name: blink02;
    animation-duration: 7.5s;
    transition-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    /* transition-delay: 1s; */
}

#pipe3 {
    animation-name: blink02;
    animation-duration: 8s;
    transition-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    /* transition-delay: 1s; */
}

@keyframes blink02 {
    to {
        background-color: brown;
    }
}

#skils-title {
    display: flex;
    width: 100%;
    height: 40px;
    color: var(--colortxtTitle);
    font-size: 1.5rem;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#skils-title > div {
    width: 40px;
    height: 35px;
    display: flex;
    background-color: black;
    border-radius: 10px;
    justify-content: center;
    align-items: center;

    transition-property: width, height, background-color;
    transition-duration: .5s;
    transition-timing-function: ease-in-out; 
}

#skils-title > div:hover {
    background-color: white;
    color: brown;
}

#theme {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    gap: 1rem;
    margin-top: 30px;
    letter-spacing: 2px;
}

#works {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: .5rem;
    margin: 20px 0px 30px;
}

.work {
    margin-top: 10px;
    width: 30%;
    height: 250px;
    flex: 1 300px;
    background-color: black;
    box-shadow: 2px 5px 10px #000;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-image: url(/img/about/2.jpg); */

    transition-property: width, height;
    transition-duration: .2s;
    transition-timing-function: ease-in-out; 
}

.container-skils-description {
    display: flex;
    gap: 1rem;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    flex-wrap: wrap;
}

.container-skils-description > div {
    width: 50%;
    height: 400px;
    flex: 1 300px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}


.work:hover {
    width: 35%;
}

#banner {
    width: 110px;
    height: 110px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;

    transition-property: width, height, border-radius, background-color;
    transition-duration: .5s;
    transition-timing-function: ease-in-out; 
   
}

#b1 {
    background-image: url(/img/about/2.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#area {
    color: gray;
}

.criativite {
    margin-top: 10px;
    width: 170px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    border-radius: 10px;
}

.criativite > #banner {
    width: 110px;
    height: 110px;
    background-color: rgb(229, 226, 226);
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.edu > #banner {
    clip-path: circle(50% at 50% 50%);
}

.dev > #banner {
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.work:hover {
    cursor: pointer;
}

.work:hover #banner {
    width: 0px;
    height: 0px;
}

.work:hover > div > div {
    font-size: 0px;
}

.about {
    width: 100%;
    height: 100%;
    max-width: var(--maxWidth);
    display: flex;
    gap: .5rem;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 50px 20px 50px;
    /* background: yellow; */
}

#about-me1 {
    width: 80%;
    display: flex;
    flex: 3 1 300px;
    flex-direction: column;
    margin-bottom: 25px;
}

#iam {
    width: 40%;
    height: 60px;
    background-color: brown;
    font-size: 25px;
    color: var(--colortxtTitle);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.5rem;
    border-radius: 10px;

    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

#item > div {
    display: flex;
    align-items: center;
}

#about-me2 {
    width: 20%;
    height: 400px;
    flex: 1 1 400px;
    border-radius: 15px;
    background: rgb(0, 0, 0);
    box-shadow: 0px 5px 20px #000;
}

.animation-cub {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;

}

.animation-cub > div {
    width: 25%;
    height: 25%;
    border-radius: 50%;
    justify-content: center;
    align-items: center;

    transition-property: background-color, border-radius;
    transition-duration: .5s;
    transition-timing-function: ease-in-out;

}

.cub1 {
    display: flex;
    color: white;
    font-size: 100px;
    animation-name: move;
    animation-duration: 3s;
    transition-timing-function: ease-in-out;
    animation-delay: 1s;
    animation-iteration-count: 3;
}

.cub2 {
    display: flex;
    color: white;
    font-size: 100px;
    animation-name: move;
    animation-duration: 3s;
    transition-timing-function: ease-in-out;
    animation-delay: 2s;
    animation-iteration-count: 3;
}

.cub3 {
    display: flex;
    color: white;
    font-size: 100px;
    animation-name: move;
    animation-duration: 3s;
    transition-timing-function: ease-in-out;
    animation-delay: 3s;
    animation-iteration-count: 3;
}

.cub4 {
    display: flex;
    color: white;
    font-size: 100px;
    animation-name: move;
    animation-duration: 3s;
    transition-timing-function: ease-in-out;
    animation-delay: 4s;
    animation-iteration-count: 3;
}

.animation-cub > div:hover {
    /* background-image: url(/img/pixel_art.png); */
    font-size: 0px;
    cursor: pointer;
    background-color: white;
    border-radius: 0px;
}

@keyframes move {
    0% {
        /* background-image: url(/img/mamut1.png); */
        color: brown;
        background-color: brown;
        border-radius: 30px;
    }
    25% {
        color: brown;
        /* background-image: url(/img/pixel_art.png); */
        background-color: rgb(230, 137, 137);
        border-radius: 25px;
    }  
    50% {
        color: brown;
        /* background-image: url(/img/pixel_art.png); */
        background-color: rgb(245, 207, 207);
        border-radius: 15px;
    }  
    75% {
        color: brown;
        /* background-image: url(/img/pixel_art.png); */
        background-color: rgb(245, 220, 220);
        border-radius: 10px;
    }  
    100% {
        color: rgb(0, 0, 0);
        /* background-image: url(/img/pixel_art.png); */
        background-color: white;
        border-radius: 0px;
    }  
}

.portfolio-about {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap-reverse;
}

.photo {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;   
    flex: 1 1 300px;
}

.photo > div {
    width: 90%;
    height: 90%;
    border-radius: 15px;
    box-shadow: 0px 0px 4px 2px rgb(87, 2, 2);
}

.photo-description {
    width: 50%;
    display: flex;
    
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 1 450px;
}

#about-description {
    width: 90%;
    font-family: 'Didact Gothic', sans-serif;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

#d1 {
    font-weight: bolder;
    font-size: 1.5rem;
    margin-bottom: 15px;
    color: var(--colortxtTitle);
}

#d2 {
    font-size: 1rem;
    color: var(--colortxtCode);
}

#button-cv {
    width: 100%;
    text-align: center; 
}

#button-01 {
    background-color: rgb(190, 55, 55); /* Green */
    border: none;
    color: var(--colortxtTitle);;
    padding: 15px 32px;
    text-decoration: none;
    border-radius: 30px;
    cursor: pointer;
    font-weight: bolder;
    margin-top: 2rem;
    

    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

#button-01:hover {
    box-shadow: 0 12px 16px 0 rgba(255, 0, 0, 0.24),0 17px 50px 0 rgba(255, 0, 0, 0.19);
}

#about-title {
    display: flex;
    width: 100%;
    height: 40px;
    color: var(--colortxtTitle);;
    font-size: 1.5rem;
    justify-content: center;
    align-items: center;
    gap: .1rem;
    margin: 30px;
}

#about-title > div {
    width: 40px;
    height: 35px;
    display: flex;
    background-color: black;
    border-radius: 10px;
    justify-content: center;
    align-items: center;

    transition-property: width, height, background-color;
    transition-duration: .5s;
    transition-timing-function: ease-in-out; 
}

#about-title > div:hover {
    background-color: white;
    color: brown;
}