* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

:root {
    --colorBackground: #fafaef;
    --colorHead: rgb(0, 0, 0);
    --colorTitle: black;
    --colorBody: rgb(54, 54, 58);
    
    /* #7159c1 */

    --colortxtTitle: rgb(209, 209, 194);
    --colortxtCode: rgb(173, 173, 164);

    --maxWidth: 1080px;
}

span{
    color: rgb(238, 39, 39);
}

h2 {
    font-size: 35px;
    margin-bottom: 20px;
}

h3 {
    color: var(--colortxtTitle);
    font-family: monospace;
}

#description {
    color: rgb(73, 73, 73);
    font-size: 15px;
    font-family: monospace;
    margin-top: 10px;
}

p {
    color: var(--colortxtCode);
    font-family: monospace;
    font-size: 12px;
    margin-top: 10px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    background: var(--colorBackground);
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

html, body {
    height: 100%;
    width: 100%;
}

.Head {
    width: 100%;
    background: var(--colorHead);
    height: 50px;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 5px 20px #000;
}

.menu {
    height: 40px;
    width: 100%;
    max-width: var(--maxWidth);
    margin: 2px;
    display: flex;
    align-items: center;
}

.name {
    width: 60%;
    color: var(--colortxtTitle);
    font-family: monospace;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.redes {
    width: 25%;
    color: var(--colortxtTitle);
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.rede {
    width: 40px;
    height: 40px;
}

.logoArea {
    width: 15%;
    color: var(--colortxtTitle);
    display: flex;
    flex-direction: row;
    align-items: center;

}

.logo{
    border-radius: 50px;
    width: 35px;
    height: 35px;
}

#space {
    height: 50px;
    background: blue;
}

section {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    padding: 4px;
}

.Container { 
    width: 100%;
    max-width: var(--maxWidth);
    display: flex;
    flex-direction: column;
    margin: 4px;
}

#head-title {
    height: 35px;
    background:rgb(54, 54, 58);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

#head-title h3 {
    margin: 9px 9px;
}

#title {
    width: 100%;
    height: 40px;
    max-width: var(--maxWidth);
    background: var(--colorTitle);
    display: flex;
}

#play {
    width: 35px;
    border-top-left-radius: 8px;
    /* background-color: rgb(68, 65, 63);    */
}

#playImg {
    width: 25px;
    height: 25px;
    border-radius: 50px;
    margin: 6px 6px;
    background: rgb(173, 170, 168);
    background-image: url(/img/colchetes.png);
    cursor: pointer;
}

#playImg:hover {
    width: 25px;
    height: 25px;
    border-radius: 50px;
    margin: 6px 6px;
    background: rgb(173, 170, 168);
    background-image: url(/img/play1.png);
}

#text {
    margin: 0 10px;
}

.body-portfolio{
    width: 100%;
    background: var(--colorBody);
}

.about {
    /* width: 100%; */
    height: 100%;
    max-width: var(--maxWidth);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 50px 0px 50px;
    /* background: yellow; */
}

#about-me1 {
    width: 60%;
    flex: 1 1 400px;
    margin-bottom: 25px;
}

#about-me2 {
    width: 40%;
    height: 500px;
    flex: 1 1 400px;
    border-radius: 15px;
    background: brown;
}

