.body {
  /* width: 100%;
  max-width: var(--maxWidth); */
  
  /* background-color: black; */
}

#items {
  /* display: flex; */

  /* overflow-x: scroll; */
  /* scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth; */
}

.item {
  flex: none;
  
  width: 100%;
  /* height: 500px; */
  
  flex-shrink: 0;
  scroll-snap-align: start;

  pointer-events: none;

  justify-content: center;
  align-items: center;
}

.container-robs {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

#container-img {
  width: 95%;
  height: 95%;
}

img {
  width: 100%;
  height: 100%;

  object-fit: cover;
}
