html, body {
    box-sizing: border-box;
    background: rgb(151, 109, 219);
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: monospace;
    font-size: 20px;
}

.separador {
    width:100%;
    min-width: 900px;
    border-top: 1px solid #000;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: white;

}

img {
    padding-top: 10px;
    padding-left: 9px;
    
}

#img > img {
    border-radius: 100%;
    height: 200px;
    object-fit: cover;
    width: 200px;  
}

.menu {
    max-width: 1080px;
    margin: 0 auto;
    padding: 0 2%;
}

header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 9px 0;
    text-align: right;
    background: black;
}

header li{
    display: inline-block;
    margin: 0 10px;
}

header a{
    text-decoration: none;
    color: white;
}

p {
    list-style: none;
    font-size: 15px;
    margin: 10px;
    color: rgb(185, 180, 180);
}

b {
    color: rgb(127, 60, 158)
}

/* CSS FLEXBOX */

.corpo {
    display: grid;
    grid-template-columns: 0.1fr 2.5fr;
    max-width: 1081px;
    min-width: 900px;
    box-shadow: 5px 10px 10px #2b2929;
    margin: 0 auto;

}

.corpo1 {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-auto-flow: dense;
    max-width: 1080px;
    min-width: 900px;
    background: rgb(54, 54, 58);
    box-shadow: 5px 10px 10px #2b2929;
    padding-top: 10px;
    margin: 0 auto;
}
.rob {
    display: grid;
    max-width: 1080px;
    min-width: 900px;
    padding-top: 15px;
    padding-bottom: 10px;
    height: 600px;
    margin: 0 auto;
}

.quadro {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 1080px;

}

#quadroPic {
    max-width: 195px;
    height: 150px;
    position: relative;
    border: solid 3px rgb(120, 255, 9);
    left: 190px;
    top: 290px;
    animation: quadroMusic 3s 2s;
}

#quadroMusic {
    width: 195px;
    height: 150px;
    position: relative;
    border: solid 3px rgb(120, 255, 9);
    left: 40px;
    top: 430px;
    animation: quadroMusic 3s 2s;
}


#quadroBola {
    max-width: 325px;
    height: 400px;
    position: relative;
    border: solid 3px rgb(120, 255, 9);
    left: 18x;
    top: 100px;
    animation: quadroBol 3s 2s;
}


.apresentacao {
    display: grid;
    grid-template-columns: 3fr 0.5fr 0.5fr 0.5fr 0.5fr;   
    align-items: center;
    max-width: 1080px;
    min-width: 900px;
    margin: 0 auto;
}

.play {
    background: grey;
}

.py {
    background: #1b1a1a;
}


#home {
    background: rgb(54, 54, 58);
    padding-left: 20px;

}
.sobre{
    grid-template-columns: 1.5fr 1fr;
    padding-left: 20px;
    background: rgb(54, 54, 58);
    max-width: 1080px;
    min-width: 360px;
    color: white;
    display: grid;
    margin: 0 auto;
}

.habilidade{
    background: rgb(54, 54, 58);
}

.progress {
    background: rgba(255,255,255,0.1);
    justify-content: flex-start;
    align-items: center;
    position: relative;
    padding: 0 5px;
    display: flex;
    height: 40px;
    width: 500px;
}
.anima {
    padding-left: 20px;
    color: rgb(185, 180, 180);
}

.progress-value {
    animation: load 3s normal forwards;
    box-shadow: 0 10px 40px -13px #fff;
    background: #fff;
    height: 30px;
    width: 0;
}

@keyframes load {
    0% { width: 0; }
    100% { width: 80%; }
    {margin: 0 auto;}
}
.progresso1 {
    display: grid;
    color: rgb(185, 180, 180);
    padding-left: 20px;
    grid-template-columns: 1fr 3fr;
}
#progresso {
    width: 1px;
    height: 20px;
    background-color: white;
    animation: slidein 3s infinite;
}

@keyframes slidein {
    to {
        transform: rotate(750deg);
    }
    from {
        transform: rotate(0deg);
    }
}